.track-vertical {
  background-color: lightgrey;
}

.track-horizontal {
  background-color: lightgrey;
}

.scrollbar-vertical {
  background-color: black;
  cursor: pointer;
}

.scrollbar-horizontal {
  background-color: black;
  cursor: pointer;
}