.track-vertical {
  background-color: red;
}

.track-horizontal {
  background-color: darkgrey;
}

.scrollbar-vertical {
  background-color: black;
  cursor: pointer;
}

.scrollbar-horizontal {
  background-color: black;
  cursor: pointer;
}